<!-- Include the PubNub Library -->
<script src="https://cdn.pubnub.com/pubnub.min.js"></script>

<!-- Instantiate PubNub -->
<script type="text/javascript">

  var PUBNUB_demo = PUBNUB.init({
    publishKey: 'pub-c-08929c95-b4a5-402f-a0e9-de019f0cf077',
    subscribeKey: 'sub-c-d21546ca-1c1f-11e8-bb29-5a43d096f02f'
  });
  
</script>
<script src="subscribe.js"></script>


